# Files.
.*                              export-ignore
phpcs.xml.dist                  export-ignore
CONTRIBUTING.md                 export-ignore

# Folders.
.github                         export-ignore
.travis                         export-ignore
tests                           export-ignore

# Drupal module files should be identified & highlighted as PHP files on Github.
*.module linguist-language=PHP
